.baseline {
  font-weight: 600;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.2);
}

p.landing-page {
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.2);
  font-size: 1.6rem;
}

h1.landing-page {
  font-weight: 400;
  font-size: 2rem;
  margin: 4rem 0;
}

.homepage2 {
  background: linear-gradient(to right bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.1)), image-url("homepage.jpg");
  background-size: cover;
  height: 100vh;
}

.homepage2.margin-top {
  margin-top: 5rem;
}
