<div class="banner">
  <div class="container">
    <h1>Profile</h1>
    <p></p>
  </div>
</div>

<div class="container container-margin min-height">
  <div class="column flex-column d-flex justify-content-between">
    <div class="challenge-intro">
      <div class="description">
        <h4>Your footprint history</h4>
        <% if @score %>
          <p><%= @score %></p>
        <% end %>
      </div>
      <div class="category">
        <h3>Your ongoing challenges</h3>
        <ul>
          <% @ongoing_challenges.each do |user_challenge| %>
            <li><%= link_to user_challenge.challenge.name, challenge_path(user_challenge.challenge) %></li>
          <% end %>
        </ul>
    </div>
      <div class="category">
        <h3>Your new footprint after finishing these challenges</h3>
        <ul>
          <% @done_challenges.each do |user_challenge| %>
            <li><%= link_to user_challenge.challenge.name, challenge_path(user_challenge.challenge) %></li>
          <% end %>
        </ul>

    </div>
  </div>
</div>

