<!-- User signed out view -->
<div class="homepage2 margin-top">
  <div class="container min-height">
    <br>
    <br>
    <h1 class="landing-page baseline">Change is now</h1>
    <p class="landing-page">Get a clear idea of your lifestyle footprint, improve it and challenge yourself and your friends!</p>
    <p class="landing-page">Change is now, and it is fun. Sign up now!</p>
    <br>
    <%= link_to "Sign up", new_user_registration_path, class: "button" %>
  </div>
</div>
