.bannertip {
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
}

.bannertip img {
  height: -webkit-fill-available;
  width: 100%;
  object-fit: cover;
}
.bannertip h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.2);
}

// .bannertip p {
//   font-size: 22px;
//   font-weight: bold;
//   text-align: left;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: white;
//   text-shadow: 0 0 5px rgba(0,0,0,0.2);
// }

.container-bannertip {
  width: 1100px;
  margin: 0 auto;
}
