.category-card {
  background-size: cover;
  background-position: center;
  height: 60px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h2 {
  font-size: 15px;
  }

  h3 {
  font-size: 10px;
  font-weight: lighter;
  }
}

.category-card.transports {
    background-image: url("image_transports.jpg");
  }
.category-card.food {
    background-image: url("image_food.jpg");
  }
.category-card.transports {
    background-image: url("image_transports.jpg");
  }


.category-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
