footer {
  background-color: $green !important;
  height: 40px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

footer > p {
  padding-right: 60px;
  margin-bottom: 0px;
  color: white;
  font-size: 13px;
}

.container-footer {
  margin: 3rem auto;
}


