// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  background-color: white;
  height: 110px;
  box-shadow:0px 3px 3px  #DCDCDC;
}

.title-navbar a {
  color: $green !important;
  &:hover {

  }
}

.title-navbar img {
  width: 25px;
  height: 25px;
}

.logo-navbar img {
  height: 50px;
}

