// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  background-color: white;
  height: 5rem;
  box-shadow:0px 3px 3px  #DCDCDC;
}

.title-navbar a {
  &:hover {
    color: $green !important;
  }
}

.title-navbar img {
  margin-right: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
}

.logo-navbar img {
  height: 4rem;
}

.active a {
  color: $green;
}

