.percentages {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.percentage {
  margin: 0 25px 10px 0;
}

.margin-left {
  margin: 0 0 10px 25px;
}

.percentage-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  p {
    margin: 0;
    font-family: 'Secular One', sans-serif;
    font-size: 1.1rem;
  }
}

.level-percent {
  font-size: 1.3rem;
}

.result-bar {
  background-color: white;
  border: 1px $light-gray solid;
  height: 16px;
  display: flex;
}

.gauge {
  background-color: #38B44E35;
}
.category-bathroom {
  width: 3%;
}
.category-daily {
  width: 11%;
}
.category-energy {
  width: 15%;
}
.category-food {
  width: 22%;
}
.category-shopping {
  width: 18%;
}
.category-transports {
  width: 31%;
}


