#progressBar {
	display:inline-block;
	height:20px;
  left: auto;
  top: 963px;
	text-align: right;
	position:relative;
	font-family: Secular One;
	font-size: 0.8em;
	background: white;
}
progress {
	width: 100%;
	height:20px;
	background: white;
	border: 2px solid $blue;
	text-align: right;
	font-family: Secular One;
	font-size: 1em;
}
progress::-webkit-progress-bar {
	height:20px;
	width:calc(100%-10px);
	margin:0 auto;
	background-color:white; 
 
}
progress::-webkit-progress-value {
	display:inline-block;
	float:left;
	height:20px;
	margin:0 0 0 0;
	background-color:rgba(56, 180, 78, 0.5); 
}
progress:after {
	margin:-45px 0 0 -7px;
	display:inline-block;
	float:left;
	color: #CEE7F6;
	content: attr(value) '%';
}