.blue {
  margin-top: 50px;
  width: 100% !important;
  background-color: rgba(0,141,213, 0.2);
}

.tip-dashboard-infos {
  padding: 10px;
  h6 > a {
    border: none !important;
    color: $black !important;
  }
}

.tip-dashboard {
  width: 250px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  &:hover{
  transform: scale(1.05);
  }
}

.tip-dashboard img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.tip-dashboard p {
  padding-top: 10px;
  font-size: 13px;
}


.tip-dashboard a {
  &:hover {
  color: $blue;
 }
}

.read a {
  border: none;
  color: $green !important;
  text-decoration: underline !important;
}

.category-tip-dashboard {
  margin: 0;
  font-size: 12px;
  color: white;
  font-family: Secular One;
  background-color: #008DD5;
  width: fit-content;
  padding: 0px 10px;
  padding-top: 2px;
}


