.user-card h3 {
  text-align: center;
}

.user-card p {
  margin: 1rem 0;
}

.numbers-big {
  font-size: 1.4rem;
}

.vertical-separator {
  border-right: $black 1px solid;
}

.margin-bottom-none {
  margin-bottom: 0;
}
